/* Dark Mode Wanikani */
/* Author: Keith Wasielewski */
/* Copyright 2025 binaryLunchbox */

/* Color Palette
  Primary: #2c3e50
  Secondary: #34495e
  DM Pink: #cc0088
  DM Blue: #0088cc
  DM Purple: #622FBE
  */

body {
  background-color: #2c3e50;
  background-image: none;
}

.global-header {
  background: #34495e;
  border-bottom: 1px solid #42586e;
}

.logo__link h1:after {
  background: top left / contain no-repeat
    url(https://www.binarylunchbox.com/images/misc/wanikani_white.png);
}

.sitemap__section-header {
  color: #fff;
  text-shadow: none;
}

.todays-lessons {
  background: #cc0088;
  --color-count_bubble-text: #cc0088;
}

.reviews-dashboard {
  background: #0088cc;
  --color-count_bubble-text: #0088cc;
}

.search-button {
  background-color: rgba(255, 255, 255, 0.8);
}

.search-button:hover {
  border-color: #fff;
}

.character-header--vocabulary {
  background-color: #622fbe;
  background-image: none;
}

@media screen and (min-width: 1024px) {
  .sitemap__section-header:hover,
  .sitemap__section-header:focus {
    border-color: rgba(255, 255, 255.5);
  }
  .sitemap__section-header--radicals:hover {
    border-color: #0088cc;
  }
  .sitemap__section-header--kanji:hover {
    border-color: #cc0088;
  }
  .sitemap__section-header--vocabulary:hover {
    border-color: #622fbe;
  }
  .sitemap__section-header--radicals:hover,
  .sitemap__section-header--radicals:focus,
  .sitemap__section--open .sitemap__section-header--radicals {
    color: #0088cc;
  }
  .sitemap__section-header--kanji:hover,
  .sitemap__section-header--kanji:focus,
  .sitemap__section--open .sitemap__section-header--kanji {
    color: #cc0088;
  }
  .sitemap__section-header--vocabulary:hover,
  .sitemap__section-header--vocabulary:focus,
  .sitemap__section--open .sitemap__section-header--vocabulary {
    color: #622fbe;
  }
}

/* CUSTOM OPTIONS */

/* Blurring Remaining Item Counter */
.quiz-statistics__item-label {
  filter: blur(4px);
}
.quiz-statistics__item-label:hover {
  filter: blur(0);
}
