/* Dark Mode Wanikani */
/* Author: Keith Wasielewski */
/* Copyright 2025 binaryLunchbox */

/* Color Palette
  Primary: #2c3e50
  Secondary: #34495e
  Dark Primary: #0C2032
  DM Pink: #cc0088
  DM Blue: #0088cc
  DM Purple: #622FBE
  Original Text: #333;
  */

body {
  background-color: #2c3e50;
  color: #fff;
  background-image: none;
}

.global-header {
  background: #34495e;
  border-bottom: 1px solid #42586e;
}

.logo__link h1:after {
  background: top left / contain no-repeat
    url(https://www.binarylunchbox.com/images/misc/wanikani_white.png);
}

.sitemap__section-header {
  color: #fff;
  text-shadow: none;
}

.todays-lessons {
  background: #cc0088;
  --color-count_bubble-text: #cc0088;
}

.reviews-dashboard {
  background: #0088cc;
  --color-count_bubble-text: #0088cc;
}

.todays-lessons--complete,
.reviews-dashboard.reviews-dashboard--complete,
.lesson-and-reviews-loading--complete {
  background: #808080;
  --color-count_bubble-text: #808080;
}

.search-button {
  background-color: rgba(255, 255, 255, 0.8);
}

.search-button:hover {
  border-color: #fff;
}

.character-header--vocabulary {
  background-color: #622fbe;
  background-image: none;
}

.page-header__title,
.lesson-and-review-count__item,
.user-note,
.user-note__link,
.user-note__link:visited,
.wk-button--default,
.subject-section__text,
.subject-character__meaning {
  text-shadow: none;
  color: #fff;
}

.lesson-and-review-count__item,
.lesson-and-review-count__item:hover,
.lesson-and-review-count__item:active,
.lesson-and-review-count__item:visited {
  color: #fff;
}

.wk-panel {
  background-color: #0c2032;
}

.lesson-picker__section-content,
.recent-mistakes-dashboard__content,
.extra-study,
.subject-slide,
.level-progress-dashboard__content,
.additional-content__content {
  background-color: #42586e;
}

.review-forecast__day-content {
  color: #333;
}

@media screen and (min-width: 1024px) {
  .sitemap__section-header:hover,
  .sitemap__section-header:focus {
    border-color: rgba(255, 255, 255.5);
  }
  .sitemap__section-header--radicals:hover {
    border-color: #0088cc;
  }
  .sitemap__section-header--kanji:hover {
    border-color: #cc0088;
  }
  .sitemap__section-header--vocabulary:hover {
    border-color: #622fbe;
  }
  .sitemap__section-header--radicals:hover,
  .sitemap__section-header--radicals:focus,
  .sitemap__section--open .sitemap__section-header--radicals {
    color: #0088cc;
  }
  .sitemap__section-header--kanji:hover,
  .sitemap__section-header--kanji:focus,
  .sitemap__section--open .sitemap__section-header--kanji {
    color: #cc0088;
  }
  .sitemap__section-header--vocabulary:hover,
  .sitemap__section-header--vocabulary:focus,
  .sitemap__section--open .sitemap__section-header--vocabulary {
    color: #622fbe;
  }
}

/* CUSTOM OPTIONS */

/* Blurring Remaining Item Counter */
.quiz-statistics__item-label {
  filter: blur(4px);
}
.quiz-statistics__item-label:hover {
  filter: blur(0);
}
